<%= form_tag order_payments_path(@order) do %>
  <div class="introduction-title">
    <h3>STRIPE</h3>
    <p>Stripe est une plateforme sécurisée (certifiée PCI niveau 1, le niveau de sécurité le plus élevé), et s’occupe entièrement du paiement, nous n’avons à aucun moment accès à votre carte bancaire.
    Nous avons choisi Stripe, pour sa sécurité, pour son côté pratique et bien plus simple que PayPal.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card">
            <div class="card-content">
              <div class="card-title">
                <h3>Achat d'un <%= @order.product_name %></h3>
              </div>
              <div class="card-description">
                <article>
                    <p>Email de la personne qui paye : <strong><%= @order.email %></strong></p>
                    <br>
                    <p>La personne qui va profiter du vol/stage:</p>
                    <p><strong>Prénom :</strong> <%= @order.first_name %></p>
                    <p><strong>Nom :</strong> <%= @order.last_name %></p>
                    <p><strong>Vidéo :</strong> <%= @order.video ? "oui (+20€)" : "non" %></p>
                  <label class="amount">
                    <p class="centrer">Montant à payer : <%= humanized_money_with_symbol(@order.amount) %></p>
                  </label>
                  <br>
                  <br>
                   <!-- Script js pour stripe -->
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-label="Payer par carte"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-name="<%= @order.product_name %>"
                      data-email="<%= @order.email %>"
                      data-first_name
                      data-amount="<%= @order.amount_cents %>"
                      data-currency="<%= @order.amount.currency %>"
                      data-locale="fr">
                    </script>
                </article>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="conclusion-title">
  <p>Si vous ne souhaitez pas payer en ligne, nous avons plusieurs solutions pour vous.
Vous pouvez nous envoyer le formulaire (<%= link_to "Télécharger ici", asset_path("bulletin-bon-cadeau-biplace-lgda-bergers.pdf"), :target => "_blank" %>) accompagné du règlement par chèque (chèque à l’ordre de « Les Gens d’Air » ).</p>
  <p>Vous pouvez réglez par virement bancaire en nous envoyant un mail pour nos coordonnées bancaires.
Vous ne souhaitez pas un bon cadeau, vous pouvez payez après le vol, contactez-nous par mail avec vos coordonnées et disponibilités.</p>
</div>

<% end %>



