<!DOCTYPE html>
<html>
  <head>
    <title>Bon Cadeau</title>
    <link  rel="stylesheet" ref="style.css"/>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= link_to "http://www.lesgensdair.com/" do %>
      <%= image_tag "logo.png", id: "logo", class: "hidden-xs"%>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
